<div class="page_content_holder">	
	<% form_tag do -%>
		<div class="update">
			<%= submit_tag "Update library", :class => 'submit_button' %>
			<%= submit_tag "Save", :class => 'submit_button' %>
		</div><br/>
		
		<h2>Music library</h2><br/><br/>
		
		Click on the artists you are <strong>totally in love with</strong>, then click Save,
		then click recommendations.<br/><br/>
		
		<% user_library_artists = @user.library_artists %>
		<% for i in (0..user_library_artists.length-1) %><% if i > 0 %>, <% end-%><%= artist_label(user_library_artists[i]) %><% end-%>
	<% end-%>
</div>